<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oreumi Fancafe</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/myPageStyle.css" />
  </head>
  <body>
    <header id="header-wrapper">
        <h1 class="header-h1">오르미 팬카페 메인페이지</h1>
        <div class="header-page"></div>
    </header>
    <main id="main-wrapper"></main>
    <footer id="footer-wrapper"></footer>
  </body>
</html>
