<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/reset.css}">
    <link rel="stylesheet" th:href="@{/css/qnadetail.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/js/qnaDetail.js"></script>

</head>
<body>
<!--타임리프 내의 링크는 모두 임의로 넣었으니 실제 작업할 때 링크 경로를 수정해주세요-->
<div class="container">
    <h1>고객센터</h1>
    <p class="text-muted">무엇을 도와드릴까요?</p>
    <article class="board-page">
        <div class="article-header">
            <input id="qna-id" th:value="${help.id}" type="hidden">
            <h1 class="title"><span th:if="${help.helpType == 1}">[문의] </span><span
                    th:if="${help.helpType == 2}">[신고] </span><span th:text="${help.title}">질문제목입니다</span></h1>
            <div class="info-writer">
                <div class="row info-writer-detail">
                    <div class="col-md-auto align-items-start"><p style="font-weight: bold"
                                                                  th:text="${help.userId}"></p></div>

                </div>
                <div class="row info-writer-detail2">
                    <div class="col-md-auto text-secondary">
                        <p th:text="${#temporals.format(help.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
                    </div>
                    <!--                    <div class="col-md-auto delete-update">-->
                    <!--                        <button class="btn btn-secondary btn-update"-->
                    <!--                                th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|">-->
                    <!--                            수정-->
                    <!--                        </button>-->
                    <!--                        <button class="btn btn-secondary btn-delete">삭제</button>-->
                    <!--                    </div>-->
                </div>
            </div>

        </div>
        <hr>
        <div class="article-body">
            <!--     질문 내용       -->
            <p class="article-body-text text-break" th:text="${help.content}"></p>
        </div>
        <hr>
        <div class="help-answer" th:classappend="${help.answer == null} ? 'd-none' : ''">
            <table>
                <tr>
                    <th>답변 내용</th>
                    <td th:text="${help.answer}"></td>
                </tr>
            </table>

        </div>
        <div class="page-button-list">
            <div>
                <button class="btn btn-secondary board-btn" type="button" onclick="location.href='/myPage'">목록</button>
            </div>
            <div class="button-list2">
                <div>
                    <button class="btn btn-secondary go-to-write-btn" type="button" onclick="location.href='/help'">글쓰기</button>
                </div>
                <!--      관리자에게만 권한 부여되게      -->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <button class="btn btn-secondary answer-btn" type="button">답변</button>
                </div>
            </div>

        </div>
    </article>
</div>

</body>
</html>